# THE ASTYPE METHOD II

In [1]:
import pandas as pd
import numpy as np

In [5]:
nba = pd.read_csv('nba.csv').dropna(how = 'all')

In [6]:
nba.tail()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [7]:
nba.dtypes

Name         object
Team         object
Number      float64
Position     object
Age         float64
Height       object
Weight      float64
College      object
Salary      float64
dtype: object

In [8]:
len(nba)

457

In [9]:
nba['Position'].nunique()

5

In [ ]:
#out of 457 rows, only 5 unique values

In [17]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 457 entries, 0 to 456
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    category
 2   Number    457 non-null    float64
 3   Position  457 non-null    category
 4   Age       457 non-null    float64
 5   Height    457 non-null    object
 6   Weight    457 non-null    float64
 7   College   373 non-null    object
 8   Salary    446 non-null    float64
dtypes: category(2), float64(4), object(3)
memory usage: 30.9+ KB

In [13]:
nba['Position'] = nba['Position'].astype('category')

In [15]:
nba['Team'].nunique()

30

In [16]:
nba['Team'] = nba['Team'].astype('category')

# The astype Method

In [ ]:
# If you see a test failure when checking your solution,
# note that [left] refers to YOUR code while [right]
# refers to the correct code that the computer is comparing
# to your work

# Import the pandas library and assign it an alias of 'pd'.


# Import the health.csv file and assign it to a 'health' variable.
# The resulting DataFrame will have 3 columns: Weight, Height, and Blood Type
# Convert the values in the Weight Series to strings and overwrite the original column
# Convert the values in the Height Series to integers and overwrite the original column
# Convert the values in the Blood Type Series to categories and overwrite the original column

In [ ]:
health = pd.read_csv("health.csv")
health["Weight"] = health["Weight"].astype(str)
health["Height"] = health["Height"].astype(int)
health["Blood Type"] = health["Blood Type"].astype("category")

# SORT A DATAFRAME WITH THE SORT_VALUES METHOD I

In [19]:
nba = pd.read_csv('nba.csv')
nba.tail()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
nba['Name'].sort_values()

152      Aaron Brooks
356      Aaron Gordon
328    Aaron Harrison
404     Adreian Payne
312        Al Horford
            ...
270    Xavier Munford
402       Zach LaVine
271     Zach Randolph
237     Zaza Pachulia
457               NaN
Name: Name, Length: 458, dtype: object

In [26]:
nba.sort_values('Height')

nba = nba.sort_values('Salary', ascending = False)

In [27]:
nba.tail()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
350,Briante Weber,Miami Heat,12.0,PG,23.0,6-2,165.0,Virginia Commonwealth,NaN
353,Dorell Wright,Miami Heat,11.0,SF,30.0,6-9,205.0,NaN,NaN
397,Axel Toupane,Denver Nuggets,6.0,SG,23.0,6-7,210.0,NaN,NaN
409,Greg Smith,Minnesota Timberwolves,4.0,PF,25.0,6-10,250.0,Fresno State,NaN
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN