# Create a series Object from Python List

In [4]:
import pandas as pd

In [6]:
ice_cream = ['Chocolate','Vanilla','Strawberry','Rum Raisin']

# Series is a class

pd.Series(ice_cream)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [7]:
lottery = [4,8,15,12,16,23,42]

pd.Series(lottery)

0     4
1     8
2    15
3    12
4    16
5    23
6    42
dtype: int64

In [8]:
registrations = [True,False,False,True,True]

pd.Series(registrations)

0     True
1    False
2    False
3     True
4     True
dtype: bool

In [9]:
colors_list = ['red', 'green', 'blue', 'yellow', 'orange', 'purple', 'pink', 'brown', 'cyan', 'magenta']

pd.Series(colors_list)

0        red
1      green
2       blue
3     yellow
4     orange
5     purple
6       pink
7      brown
8       cyan
9    magenta
dtype: object

In [10]:
odd_numbers = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

pd.Series(odd_numbers)

0      1
1      3
2      5
3      7
4      9
5     11
6     13
7     15
8     17
9     19
10    21
11    23
12    25
13    27
14    29
15    31
16    33
17    35
18    37
19    39
dtype: int64

In [11]:
sushi = {
    'Salmon':'Orange',
    'Tuna':'Red',
    'Eel':'Brown'    
}

pd.Series(sushi)

Salmon    Orange
Tuna         Red
Eel        Brown
dtype: object

In [12]:
fast_food_dict = {
    'burger': {'price': 5.99, 'calories': 550, 'description': 'Classic beef burger with cheese and veggies.'},
    'pizza': {'price': 10.99, 'calories': 800, 'description': 'Delicious pepperoni pizza with a crispy crust.'},
    'fried_chicken': {'price': 8.49, 'calories': 650, 'description': 'Crispy fried chicken served with fries.'},
    'taco': {'price': 3.99, 'calories': 400, 'description': 'Tasty taco with seasoned meat and toppings.'},
    'hot_dog': {'price': 4.49, 'calories': 500, 'description': 'Classic hot dog with mustard and relish.'},
    'sushi': {'price': 12.99, 'calories': 450, 'description': 'Fresh sushi rolls with soy sauce and wasabi.'}
}

pd.Series(fast_food_dict)

burger           {'price': 5.99, 'calories': 550, 'description'...
pizza            {'price': 10.99, 'calories': 800, 'description...
fried_chicken    {'price': 8.49, 'calories': 650, 'description'...
taco             {'price': 3.99, 'calories': 400, 'description'...
hot_dog          {'price': 4.49, 'calories': 500, 'description'...
sushi            {'price': 12.99, 'calories': 450, 'description...
dtype: object

In [13]:
honda_cars = {
    'Civic': ['LX', 'EX', 'Touring'],
    'Accord': ['LX', 'Sport', 'Touring'],
    'CR-V': ['LX', 'EX', 'Touring'],
    'Pilot': ['LX', 'EX-L', 'Elite'],
    'Odyssey': ['LX', 'EX', 'Elite'],
    'HR-V': ['LX', 'EX', 'Touring']
}

pd.Series(honda_cars)

Civic         [LX, EX, Touring]
Accord     [LX, Sport, Touring]
CR-V          [LX, EX, Touring]
Pilot         [LX, EX-L, Elite]
Odyssey         [LX, EX, Elite]
HR-V          [LX, EX, Touring]
dtype: object

# Create a Series Object v2
Follow the instructions in the comments of the file below to complete the assignment.

Click the "Check solution" button to check your work.

#Import the pandas library and assign it its "pd" alias

#Create a list with 4 countries - United States, France, Germany, Italy
#Create a new Series by passing in the list of countries
#Assign the Series to a "countries" variable


#Create a list with 3 colors - red, green, blue
#Create a new Series by passing in the list of colors
#Assign the Series to a "colors" variable


#Given the "recipe" dictionary below,
#create a new Series by passing in the dictionary as the data source
#Assign the resulting Series to a "series_dict" variable
recipe = {
  "Flour": True,
  "Sugar": True,
  "Salt": False
}

In [ ]:
import panda as pd

countries_list = ['United States','France','Germany','Italy']
countries = pd.Series(countries_list)
print(countries)


colors_list = ['red','green','blue']
colors = pd.Series(colors_list)
print(colors)

recipe = {
  "Flour": True,
  "Sugar": True,
  "Salt": False
}

series_dict = pd.Series(recipe)
print(series_dict)

# Intro to Methods

Methods are functions that are associated with an object and are defined within a class. They allow objects to perform specific actions or operations, and they have access to the object's data and other methods within the same class.

In [15]:
'hello'.upper()

'HELLO'

In [16]:
values = [1,2,3]
values.append(4)
values

[1, 2, 3, 4]

In [17]:
float_num = pd.Series([7.329654530264507, 6.063878045941967, 5.04491219048523, 9.3091499502492, 1.348729416198517])
float_num

0    7.329655
1    6.063878
2    5.044912
3    9.309150
4    1.348729
dtype: float64

In [18]:
float_num.sum()

29.096324133139422

In [19]:
float_num.product()

2815.285418428311

In [20]:
float_num.mean() #avg

5.819264826627885

In [21]:
float_num.median()

6.063878045941967

# Intro to Attributes

In [ ]:
#It represents a characteristic or property of the object, providing information about its state or behavior.

In [22]:
adjectives = pd.Series(['Smart','Handsome','Charming','Brilliant','Humble'])
adjectives

0        Smart
1     Handsome
2     Charming
3    Brilliant
4       Humble
dtype: object

In [23]:
adjectives.size

5

In [25]:
adjectives.is_unique #series element are unique, no duplicates

True

In [26]:
adjectives = pd.Series(['Smart','Handsome','Charming','Brilliant','Humble','Smart'])
adjectives

0        Smart
1     Handsome
2     Charming
3    Brilliant
4       Humble
5        Smart
dtype: object

In [28]:
adjectives.is_unique

False

In [29]:
adjectives.values

array(['Smart', 'Handsome', 'Charming', 'Brilliant', 'Humble', 'Smart'],
      dtype=object)

In [30]:
type(adjectives.values)

numpy.ndarray

In [31]:
adjectives.index

RangeIndex(start=0, stop=6, step=1)

In [32]:
type(adjectives.index)

pandas.core.indexes.range.RangeIndex

In [33]:
adjectives.dtype # O for object

dtype('O')

In [34]:
food_prices = pd.Series({
    "apple": 0.99,
    "banana": 0.75,
    "orange": 1.25,
    "grapes": 2.50,
    "chocolate": 2.99
})
food_prices

apple        0.99
banana       0.75
orange       1.25
grapes       2.50
chocolate    2.99
dtype: float64

In [35]:
food_prices.index

Index(['apple', 'banana', 'orange', 'grapes', 'chocolate'], dtype='object')

In [36]:
food_prices.values

array([0.99, 0.75, 1.25, 2.5 , 2.99])

In [38]:
food_prices.is_unique

True

# Attributes and Methods on a Series
This exercise includes one Python file.

Follow the instructions in the comments of the file to complete the challenge.

import pandas as pd

#The Series below stores the number of home runs
#that a baseball player hit per game
home_runs = pd.Series([3, 4, 8, 2])

#Find the total number of home runs (i.e. the sum) and assign it
#to the total_home_runs variable below
total_home_runs =

#Find the average number of home runs and assign it
#to the average_home_runs variable below
average_home_runs =

In [ ]:
home_runs = pd.Series([3, 4, 8, 2])

total_home_runs = home_runs.sum()

average_home_runs = home_runs.mean()

# Parameters and Arguements

In [39]:
fruits = ['Apple','Orange','Plum','Grape','Blueberry']
weekdays = ['Monday','Tuesday','Wednesday','Thursday','Friday']

pd.Series(fruits, weekdays) # data, index *ORDER MATTERS

Monday           Apple
Tuesday         Orange
Wednesday         Plum
Thursday         Grape
Friday       Blueberry
dtype: object

Init signature:
pd.Series(
    data=None,
    index=None,
    dtype: 'Dtype | None' = None,
    name=None,
    copy: 'bool' = False,
    fastpath: 'bool' = False,
) -> 'None'
Docstring:     
One-dimensional ndarray with axis labels (including time series).

PARAMETERS

data : array-like, Iterable, dict, or scalar value
    Contains data stored in Series. If data is a dict, argument order is
    maintained.
index : array-like or Index (1d)
    Values must be hashable and have the same length as `data`.
    Non-unique index values are allowed. Will default to
    RangeIndex (0, 1, 2, ..., n) if not provided. If data is dict-like
    and index is None, then the keys in the data are used as the index. If the
    index is not None, the resulting Series is reindexed with the index values.

In [44]:
Types_of_Meats = ['beef', 'pork', 'chicken', 'fish', 'lamb']
Types_of_Food = ['burger', 'fried rice', 'pasta', 'pie', 'pizza']

pd.Series(data = Types_of_Food, index = Types_of_Meats)

beef           burger
pork       fried rice
chicken         pasta
fish              pie
lamb            pizza
dtype: object

# Parameters and Arguments
Follow the instructions in the comments of the file below to complete the assignment.

Click the "Check solution" button to check your work.

#If you see a test failure when checking your solution,
#note that [left] refers to YOUR code while [right]
#refers to the correct code that the computer is comparing
#to your work

#The code below defines a list of delicious foods
#and some dipping sauces to dip them in
import pandas as pd

foods = ["French Fries", "Chicken Nuggets", "Celery", "Carrots"]
dipping_sauces = ["BBQ", "Honey Mustard", "Ranch", "Sriracha"]

#Create a Series and assign it to the s1 variable below. 
#Assign the foods list as the data source
#and the dipping_sauces list as the Series index 
#For this solution, use positional arguments (i.e. feed in the arguments sequentially)
s1 = 


#Create a Series and assign it to the s2 variable below. 
#Assign the dipping_sauces list as the data source
#and the foods list as the Series index 
#For this solution, use keyword arguments (i.e. provide the parameter names
#alongside the arguments)
s2 =

In [47]:
foods = ["French Fries", "Chicken Nuggets", "Celery", "Carrots"]
dipping_sauces = ["BBQ", "Honey Mustard", "Ranch", "Sriracha"]

s1 = pd.Series(foods, dipping_sauces)
s1

BBQ                 French Fries
Honey Mustard    Chicken Nuggets
Ranch                     Celery
Sriracha                 Carrots
dtype: object

In [48]:
foods = ["French Fries", "Chicken Nuggets", "Celery", "Carrots"]
dipping_sauces = ["BBQ", "Honey Mustard", "Ranch", "Sriracha"]

s2 = pd.Series(dipping_sauces, foods)
s2

French Fries                 BBQ
Chicken Nuggets    Honey Mustard
Celery                     Ranch
Carrots                 Sriracha
dtype: object