# Import Series with the pd.read_cvs Function

In [2]:
import pandas as pd

In [ ]:
pd.read_csv()

In [ ]:
Signature:
pd.read_csv(
    filepath_or_buffer: 'FilePath | ReadCsvBuffer[bytes] | ReadCsvBuffer[str]',
    *,
    sep: 'str | None | lib.NoDefault' = <no_default>,
    delimiter: 'str | None | lib.NoDefault' = None,
    header: "int | Sequence[int] | None | Literal['infer']" = 'infer',
    names: 'Sequence[Hashable] | None | lib.NoDefault' = <no_default>,
    index_col: 'IndexLabel | Literal[False] | None' = None,
    usecols=None,
    squeeze: 'bool | None' = None,
    prefix: 'str | lib.NoDefault' = <no_default>,
    mangle_dupe_cols: 'bool' = True,
    dtype: 'DtypeArg | None' = None,
    engine: 'CSVEngine | None' = None,
    converters=None,
    true_values=None,
    false_values=None,
    skipinitialspace: 'bool' = False,
    skiprows=None,
    skipfooter: 'int' = 0,
    nrows: 'int | None' = None,
    na_values=None,
    keep_default_na: 'bool' = True,
    na_filter: 'bool' = True,
    verbose: 'bool' = False,
    skip_blank_lines: 'bool' = True,
    parse_dates=None,
    infer_datetime_format: 'bool' = False,
    keep_date_col: 'bool' = False,
    date_parser=None,
    dayfirst: 'bool' = False,
    cache_dates: 'bool' = True,
    iterator: 'bool' = False,
    chunksize: 'int | None' = None,
    compression: 'CompressionOptions' = 'infer',
    thousands: 'str | None' = None,
    decimal: 'str' = '.',
    lineterminator: 'str | None' = None,
    quotechar: 'str' = '"',
    quoting: 'int' = 0,
    doublequote: 'bool' = True,
    escapechar: 'str | None' = None,
    comment: 'str | None' = None,
    encoding: 'str | None' = None,
    encoding_errors: 'str | None' = 'strict',
    dialect: 'str | csv.Dialect | None' = None,
    error_bad_lines: 'bool | None' = None,
    warn_bad_lines: 'bool | None' = None,
    on_bad_lines=None,
    delim_whitespace: 'bool' = False,
    low_memory=True,
    memory_map: 'bool' = False,
    float_precision: "Literal['high', 'legacy'] | None" = None,
    storage_options: 'StorageOptions' = None,
) -> 'DataFrame | TextFileReader'
Docstring:
Read a comma-separated values (csv) file into DataFrame.

In [4]:
pd.read_csv('pokemon.csv') #Dataframe = table

        Pokemon     Type
0     Bulbasaur    Grass
1       Ivysaur    Grass
2      Venusaur    Grass
3    Charmander     Fire
4    Charmeleon     Fire
..          ...      ...
716     Yveltal     Dark
717     Zygarde   Dragon
718     Diancie     Rock
719       Hoopa  Psychic
720   Volcanion     Fire

[721 rows x 2 columns]

In [5]:
pd.read_csv('pokemon.csv', usecols = ['Pokemon']) #use columns, arguement

        Pokemon
0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
..          ...
716     Yveltal
717     Zygarde
718     Diancie
719       Hoopa
720   Volcanion

[721 rows x 1 columns]

In [6]:
pd.read_csv('pokemon.csv', usecols = ['Pokemon']).squeeze() #data frame object

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [7]:
pokemon = pd.read_csv('pokemon.csv', usecols = ['Pokemon']).squeeze()

In [8]:
pokemon

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

# SECOND DATA SET

In [9]:
pd.read_csv('google_stock_price.csv')

      Stock Price
0           50.12
1           54.10
2           54.65
3           52.38
4           52.95
...           ...
3007       772.88
3008       771.07
3009       773.18
3010       771.61
3011       782.22

[3012 rows x 1 columns]

In [10]:
pd.read_csv('google_stock_price.csv', usecols = ['Stock Price'])

      Stock Price
0           50.12
1           54.10
2           54.65
3           52.38
4           52.95
...           ...
3007       772.88
3008       771.07
3009       773.18
3010       771.61
3011       782.22

[3012 rows x 1 columns]

In [11]:
pd.read_csv('google_stock_price.csv', usecols = ['Stock Price']).squeeze()

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [16]:
google = pd.read_csv('google_stock_price.csv', usecols = ['Stock Price']).squeeze()

In [17]:
google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

# Import Series with the read_csv Function

Follow the instructions in the comments of the file below to complete the assignment.

Click the "Check Solution" button to check your work.

#We have a foods.csv CSV file with 3 columns: Item Number, Menu Item, Price
#You can explore the data by clicking into the foods.csv file on the left
#Import the CSV file into a pandas Series object
#The Series should have the standard pandas numeric index
#The Series values should be the string values from the "Menu Item" column
#Assign the Series object to a "foods" variable

In [ ]:
foods = pd.read_csv('foods.csv', usecols = ['Menu Item']).squeeze()

# The head and tail Methods on a Series

In [18]:
pokemon = pd.read_csv('pokemon.csv', usecols = ['Pokemon']).squeeze('columns') 
google = pd.read_csv('google_stock_price.csv', usecols = ['Stock Price']).squeeze('columns')

In [20]:
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [21]:
pokemon.head(10)

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
5     Charizard
6      Squirtle
7     Wartortle
8     Blastoise
9      Caterpie
Name: Pokemon, dtype: object

In [22]:
pokemon.tail()

716      Yveltal
717      Zygarde
718      Diancie
719        Hoopa
720    Volcanion
Name: Pokemon, dtype: object

In [23]:
pokemon.tail(8)

713       Noibat
714      Noivern
715      Xerneas
716      Yveltal
717      Zygarde
718      Diancie
719        Hoopa
720    Volcanion
Name: Pokemon, dtype: object

In [24]:
google.head(15)

0     50.12
1     54.10
2     54.65
3     52.38
4     52.95
5     53.90
6     53.02
7     50.95
8     51.13
9     50.07
10    50.70
11    49.95
12    50.74
13    51.10
14    51.10
Name: Stock Price, dtype: float64

In [25]:
google.tail( n = 6)

3006    768.79
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, dtype: float64

In [ ]:
#copy is like a duplicate version, view is like a lens

# The head and tail Methods

In [ ]:
# We have a roller_coasters.csv CSV file with 4 columns: Name, Park, Country, and Height.
# You can explore the data by clicking into the CSV file on the left
# Import the CSV file into a pandas Series object
# The Series should have the standard pandas numeric index
# The Series values should be the string values from the "Name" column
# Assign the Series object to a "coasters" variable


# I only want to ride the top 3 roller coasters on the list.
# Starting with the "coasters" Series, extract the first 3 rows in a new Series.
# Assign the new Series to a "top_three" variable.


# I'm now curious about some of the last entries on the coaster list.
# Starting with the "coasters" Series, extract the last 4 rows in a new Series.
# Assign the new Series to a "bottom_four" variable.

In [ ]:
coasters = pd.read_csv('roller_coasters.csv', usecols = ['Name']).squeeze()

top_three = coasters.head(3)

bottom_four = coasters.tail(4)

# Passing Series to Python's Built-In Functions

In [26]:
len(pokemon) #721 rows

721

In [27]:
type(pokemon)

pandas.core.series.Series

In [28]:
type(google)

pandas.core.series.Series

In [33]:
type(dir(pokemon)) #directory

list

In [32]:
type(sorted(pokemon)) #sort all asc

list

In [ ]:
list(pokemon)
dict(google)
tuple(google)

In [37]:
max(pokemon)

'Zygarde'

In [38]:
min(pokemon)

'Abomasnow'

In [39]:
max(google)

782.22

In [41]:
type(min(google))

float

# The sort_values Method

In [42]:
pokemon.sort_values() #ascending order

459    Abomasnow
62          Abra
358        Absol
616     Accelgor
680    Aegislash
         ...
570      Zoroark
569        Zorua
40         Zubat
633     Zweilous
717      Zygarde
Name: Pokemon, Length: 721, dtype: object

In [43]:
google.sort_values()

11       49.95
9        50.07
0        50.12
10       50.70
12       50.74
         ...
3010    771.61
3007    772.88
3009    773.18
2859    776.60
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [ ]:
#method chaining

In [44]:
pokemon.sort_values().tail()

570     Zoroark
569       Zorua
40        Zubat
633    Zweilous
717     Zygarde
Name: Pokemon, dtype: object

In [45]:
google.sort_values(ascending = False) #Descending order

3011    782.22
2859    776.60
3009    773.18
3007    772.88
3010    771.61
         ...
12       50.74
10       50.70
0        50.12
9        50.07
11       49.95
Name: Stock Price, Length: 3012, dtype: float64

In [46]:
pokemon.sort_values(ascending = False).head(6)

717      Zygarde
633     Zweilous
40         Zubat
569        Zorua
570      Zoroark
262    Zigzagoon
Name: Pokemon, dtype: object

In [48]:
google.sort_values(ascending = True).tail(8) #index value stays the same

3006    768.79
2860    771.00
3008    771.07
3010    771.61
3007    772.88
3009    773.18
2859    776.60
3011    782.22
Name: Stock Price, dtype: float64

# The sort_values Method

In [ ]:
Follow the instructions in the comments of the exercise.py file below to complete the assignment.

Click the "Check Solution" button to check your work.


# Below, we have a list of delicious tortilla chip flavors
flavors = ["Spicy Sweet Chili", "Cool Ranch", "Nacho Cheese", "Salsa Verde"]

# Create a new Series object, passing in the flavors list defined above
# Assign it to a 'doritos' variable. The resulting Series should look like this:
#
#
#   0    Spicy Sweet Chili
#   1           Cool Ranch
#   2         Nacho Cheese
#   3          Salsa Verde
#   dtype: object



# Below, sort the doritos Series in descending order.
# Assign the sorted a Series to a 'sorted_doritos' variable.
# The sorted Series should like this:
#
#   0    Spicy Sweet Chili
#   3          Salsa Verde
#   2         Nacho Cheese
#   1           Cool Ranch
#   dtype: object

In [51]:
flavors = ["Spicy Sweet Chili", "Cool Ranch", "Nacho Cheese", "Salsa Verde"]
doritos = pd.Series(flavors)

In [53]:
sorted_doritos = doritos.sort_values(ascending = False).head()

In [54]:
sorted_doritos

0    Spicy Sweet Chili
3          Salsa Verde
2         Nacho Cheese
1           Cool Ranch
dtype: object

# The sort_index Method

In [55]:
pd.read_csv('pokemon.csv')

        Pokemon     Type
0     Bulbasaur    Grass
1       Ivysaur    Grass
2      Venusaur    Grass
3    Charmander     Fire
4    Charmeleon     Fire
..          ...      ...
716     Yveltal     Dark
717     Zygarde   Dragon
718     Diancie     Rock
719       Hoopa  Psychic
720   Volcanion     Fire

[721 rows x 2 columns]

In [56]:
pd.read_csv('pokemon.csv', index_col = 'Pokemon') #parameter

               Type
Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
...             ...
Yveltal        Dark
Zygarde      Dragon
Diancie        Rock
Hoopa       Psychic
Volcanion      Fire

[721 rows x 1 columns]

In [57]:
pd.read_csv('pokemon.csv', index_col = 'Pokemon').squeeze('columns') #pokemon is now index

Pokemon
Bulbasaur       Grass
Ivysaur         Grass
Venusaur        Grass
Charmander       Fire
Charmeleon       Fire
               ...
Yveltal          Dark
Zygarde        Dragon
Diancie          Rock
Hoopa         Psychic
Volcanion        Fire
Name: Type, Length: 721, dtype: object

In [60]:
pokemon = pd.read_csv('pokemon.csv', index_col = 'Pokemon').squeeze('columns')

In [61]:
pokemon.sort_index() #sorting by index value

Pokemon
Abomasnow      Grass
Abra         Psychic
Absol           Dark
Accelgor         Bug
Aegislash      Steel
              ...
Zoroark         Dark
Zorua           Dark
Zubat         Poison
Zweilous        Dark
Zygarde       Dragon
Name: Type, Length: 721, dtype: object

In [ ]:
# The sort_index Method
Follow the instructions in the comments of the exercise.py file below to complete the assignment.

Click the "Check Solution" button to check your work.

# If you see a test failure when checking your solution,
# note that [left] refers to YOUR code while [right]
# refers to the correct code that the computer is comparing
# to your work
import pandas as pd

# Below, we have a list of delicious drink flavors
# We create a sorted Series of strings and assign it to a 'gatorade' variable
flavors = ["Red", "Blue", "Green", "Orange"]
gatorade = pd.Series(flavors).sort_values()

# I'd like to return the Series to its original order 
# (sorted by the numeric index in ascending order). 
# Sort the gatorade Series by index.
# Assign the result to an 'original' variable.

In [ ]:
original = gatorade.sort_index()
original