# The get Method on a Series

In [1]:
import pandas as pd

In [2]:
pokemon = pd.read_csv('pokemon.csv', index_col = 'Pokemon').squeeze('columns')
pokemon.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [6]:
pokemon[0]
pokemon.get('Bulbasaur')
pokemon.get(0)

'Grass'

In [7]:
None #is a special value that represents the absence of a value or a null value

In [8]:
pokemon.get('Digimon')

In [9]:
print(pokemon.get('Digimon'))

None

In [11]:
pokemon.get('Digimon', 'Nonexistent')

'Nonexistent'

In [12]:
pokemon.get('Pikachu', 'Nonexistent')

'Electric'

In [14]:
pokemon.get(["Pikachu", "Bulbasaur", "Charmander", "Squirtle", "Jigglypuff","Digimon"])

# Overwrite a Series Value

In [20]:
pokemon = pd.read_csv('pokemon.csv', usecols = ['Pokemon']).squeeze('columns')
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [21]:
pokemon[0] = 'Borisaur'

In [22]:
pokemon.head()

0      Borisaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [24]:
pokemon

0        Borisaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [25]:
pokemon[1500] = 'Hello'

In [26]:
pokemon

0         Borisaur
1          Ivysaur
2         Venusaur
3       Charmander
4       Charmeleon
           ...
717        Zygarde
718        Diancie
719          Hoopa
720      Volcanion
1500         Hello
Name: Pokemon, Length: 722, dtype: object

In [29]:
pokemon[[1,2,4]]

1       Ivysaur
2      Venusaur
4    Charmeleon
Name: Pokemon, dtype: object

In [30]:
pokemon[[1,2,4]] = ['Firemon','Watermon','Icemon']

In [31]:
pokemon[[1,2,4]]

1     Firemon
2    Watermon
4      Icemon
Name: Pokemon, dtype: object

In [32]:
pokemon = pd.read_csv('pokemon.csv', index_col = 'Pokemon').squeeze('columns')
pokemon.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [33]:
pokemon['Bulbasaur']

'Grass'

In [37]:
pokemon['Bulbasaur'] = 'Coolmon'

In [38]:
pokemon['Bulbasaur']

'Coolmon'

In [39]:
pokemon.head()

Pokemon
Bulbasaur     Coolmon
Ivysaur         Grass
Venusaur        Grass
Charmander       Fire
Charmeleon       Fire
Name: Type, dtype: object

# The copy Method

In [43]:
pokemon_df = pd.read_csv('pokemon.csv', usecols = ['Pokemon'])
pokemon_series = pokemon_df.squeeze('columns')

In [44]:
pokemon_series[0] = 'Whatever'

In [45]:
pokemon_series.head(1)

0    Whatever
Name: Pokemon, dtype: object

In [46]:
pokemon_df #side effect, untended consequence or behavior change that occurs when performing an action,

        Pokemon
0      Whatever
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
..          ...
716     Yveltal
717     Zygarde
718     Diancie
719       Hoopa
720   Volcanion

[721 rows x 1 columns]

In [47]:
pokemon_df = pd.read_csv('pokemon.csv', usecols = ['Pokemon'])
pokemon_series = pokemon_df.squeeze('columns').copy()

In [48]:
pokemon_series[0] = 'Whatever'

In [49]:
pokemon_series.head(1)

0    Whatever
Name: Pokemon, dtype: object

In [50]:
pokemon_df

        Pokemon
0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
..          ...
716     Yveltal
717     Zygarde
718     Diancie
719       Hoopa
720   Volcanion

[721 rows x 1 columns]

# The inplace Parameter

In [56]:
google = (
    pd.read_csv('google_stock_price.csv', usecols = ['Stock Price'])
    .squeeze('columns')
    .copy()
)

google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [55]:
google = google.sort_values()
google

11       49.95
9        50.07
0        50.12
10       50.70
12       50.74
         ...
3010    771.61
3007    772.88
3009    773.18
2859    776.60
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [57]:
google.head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

In [59]:
google.sort_values(inplace = True)

In [60]:
google

11       49.95
9        50.07
0        50.12
10       50.70
12       50.74
         ...
3010    771.61
3007    772.88
3009    773.18
2859    776.60
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [61]:
google.sort_index(inplace = True)

In [62]:
google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [63]:
google = (
    pd.read_csv('google_stock_price.csv', usecols = ['Stock Price'])
    .squeeze('columns')   
)

In [66]:
google.sort_values(inplace = True) #ValueError: This Series is a view of some other array, to sort in-place you must create a copy

ValueError: This Series is a view of some other array, to sort in-place you must create a copy

# Math Methods on Series Objects

In [68]:
google = pd.read_csv('google_stock_price.csv', usecols = ['Stock Price']).squeeze('columns')

In [69]:
google.head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

In [71]:
google.count() #3012 stock prices

3012

In [72]:
google.sum()

1006942.0

In [73]:
google.mean()

334.3100929614874

In [74]:
google.product()

inf

In [75]:
google.std()

173.18720477113106

In [76]:
google.min()

49.95

In [77]:
google.max()

782.22

In [78]:
google.median()

283.315

In [79]:
google.mode()

0    291.21
Name: Stock Price, dtype: float64

In [80]:
google.describe()

count    3012.000000
mean      334.310093
std       173.187205
min        49.950000
25%       218.045000
50%       283.315000
75%       443.000000
max       782.220000
Name: Stock Price, dtype: float64

# Broadcasting

In [81]:
google + 10

0        60.12
1        64.10
2        64.65
3        62.38
4        62.95
         ...
3007    782.88
3008    781.07
3009    783.18
3010    781.61
3011    792.22
Name: Stock Price, Length: 3012, dtype: float64

In [82]:
google - 30

0        20.12
1        24.10
2        24.65
3        22.38
4        22.95
         ...
3007    742.88
3008    741.07
3009    743.18
3010    741.61
3011    752.22
Name: Stock Price, Length: 3012, dtype: float64

In [83]:
google * 10

0        501.2
1        541.0
2        546.5
3        523.8
4        529.5
         ...
3007    7728.8
3008    7710.7
3009    7731.8
3010    7716.1
3011    7822.2
Name: Stock Price, Length: 3012, dtype: float64

In [84]:
google / 2

0        25.060
1        27.050
2        27.325
3        26.190
4        26.475
         ...
3007    386.440
3008    385.535
3009    386.590
3010    385.805
3011    391.110
Name: Stock Price, Length: 3012, dtype: float64

In [85]:
google.add(10)

0        60.12
1        64.10
2        64.65
3        62.38
4        62.95
         ...
3007    782.88
3008    781.07
3009    783.18
3010    781.61
3011    792.22
Name: Stock Price, Length: 3012, dtype: float64

In [86]:
google.subtract(12.5)

0        37.62
1        41.60
2        42.15
3        39.88
4        40.45
         ...
3007    760.38
3008    758.57
3009    760.68
3010    759.11
3011    769.72
Name: Stock Price, Length: 3012, dtype: float64

In [87]:
google.multiply(10)

0        501.2
1        541.0
2        546.5
3        523.8
4        529.5
         ...
3007    7728.8
3008    7710.7
3009    7731.8
3010    7716.1
3011    7822.2
Name: Stock Price, Length: 3012, dtype: float64

In [88]:
google.divide(3)

0        16.706667
1        18.033333
2        18.216667
3        17.460000
4        17.650000
           ...
3007    257.626667
3008    257.023333
3009    257.726667
3010    257.203333
3011    260.740000
Name: Stock Price, Length: 3012, dtype: float64

# The value_counts Method

In [110]:
pokemon = pd.read_csv('pokemon.csv', index_col= 'Pokemon').squeeze('columns')
pokemon.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [90]:
pokemon.value_counts()

Water       105
Normal       93
Grass        66
Bug          63
Fire         47
Psychic      47
Rock         41
Electric     36
Ground       30
Poison       28
Dark         28
Fighting     25
Dragon       24
Ghost        23
Ice          23
Steel        22
Fairy        17
Flying        3
Name: Type, dtype: int64

In [91]:
pokemon.value_counts(ascending = True)

Flying        3
Fairy        17
Steel        22
Ghost        23
Ice          23
Dragon       24
Fighting     25
Poison       28
Dark         28
Ground       30
Electric     36
Rock         41
Psychic      47
Fire         47
Bug          63
Grass        66
Normal       93
Water       105
Name: Type, dtype: int64

In [92]:
pokemon.value_counts(ascending = True).head()

Flying     3
Fairy     17
Steel     22
Ghost     23
Ice       23
Name: Type, dtype: int64

In [94]:
pokemon.value_counts(sort = True).head()

Water     105
Normal     93
Grass      66
Bug        63
Fire       47
Name: Type, dtype: int64

In [96]:
pokemon.value_counts(normalize = True) * 100

Water       14.563107
Normal      12.898752
Grass        9.153953
Bug          8.737864
Fire         6.518724
Psychic      6.518724
Rock         5.686546
Electric     4.993065
Ground       4.160888
Poison       3.883495
Dark         3.883495
Fighting     3.467406
Dragon       3.328710
Ghost        3.190014
Ice          3.190014
Steel        3.051318
Fairy        2.357836
Flying       0.416089
Name: Type, dtype: float64

# The apply Method

In [97]:
pokemon.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [98]:
len(pokemon)

721

In [99]:
pokemon.apply(len)

Pokemon
Bulbasaur     5
Ivysaur       5
Venusaur      5
Charmander    4
Charmeleon    4
             ..
Yveltal       4
Zygarde       6
Diancie       4
Hoopa         7
Volcanion     4
Name: Type, Length: 721, dtype: int64

In [100]:
pokemon.apply(len).head()

Pokemon
Bulbasaur     5
Ivysaur       5
Venusaur      5
Charmander    4
Charmeleon    4
Name: Type, dtype: int64

In [101]:
def rank_pokemon(pokemon_type):
    if pokemon_type in ['Grass', 'Fire', 'Water']:
        return 'Classic'
    elif pokemon_type == 'Normal':
        return 'Boring'
    else:
        return 'TBD'

In [103]:
pokemon.apply(rank_pokemon)

Pokemon
Bulbasaur     Classic
Ivysaur       Classic
Venusaur      Classic
Charmander    Classic
Charmeleon    Classic
               ...
Yveltal           TBD
Zygarde           TBD
Diancie           TBD
Hoopa             TBD
Volcanion     Classic
Name: Type, Length: 721, dtype: object

In [105]:
rank_pokemon

# The map Method

In [106]:
pokemon.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [118]:
mappings = {
    'Grass': 'Classic',
    'Fire': 'Classic',
    'Water': 'Classic',
    'Normal': 'Boring'
}

mappings_series = pd.Series(mappings)
mappings_series

Grass     Classic
Fire      Classic
Water     Classic
Normal     Boring
dtype: object

In [119]:
pokemon.map(mappings_series)

Pokemon
Bulbasaur     Classic
Ivysaur       Classic
Venusaur      Classic
Charmander    Classic
Charmeleon    Classic
               ...
Yveltal           NaN
Zygarde           NaN
Diancie           NaN
Hoopa             NaN
Volcanion     Classic
Name: Type, Length: 721, dtype: object

In [116]:
pokemon.tail() #NAN = Dark, Dragon, Rock ... etc

Pokemon
Yveltal         Dark
Zygarde       Dragon
Diancie         Rock
Hoopa        Psychic
Volcanion       Fire
Name: Type, dtype: object